<template id="servico-selec">
  <div>
      
    <message ></message>
    <v-select
      :value="value"
      @input="$emit('input', $event)"
      :items="servicos"
      label="Serviço"
      :error-messages="errors.collect('servico')"
      v-validate="'required'"
      data-vv-name="servico"
      item-text="name"
      return-object
      required
    ></v-select>

  </div>
</template>

<script>
Vue.component('servico-selec', {
  name: 'servico-selec',
  template: '#servico-selec',
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    value: {},
  },
  data() {
    return {
      errorMessage: [],
      successMessage: [],
    };
  },
  watch: {

  },
  mounted () {
    this.$validator.localize('pt_BR', this.dictionary)
  },
  computed: {
    servicos() {
      return this.$store.getters.servicos;
    },
    temMessage () {
      if(this.errorMessage.length > 0) return true
      if(this.successMessage.length > 0) return true
      return false
    },
  },
  methods: {
    remove (item) {
        this.value = ''
    },
  },
});
</script>