<template id="equipamento-selec">
  <div>
      
    <message :success="successMessage" :error="errorMessage" v-on:close="errorMessage = []; successMessage = []"></message>

    <v-autocomplete
    :value="value"
    @input="$emit('input', $event)"
    :items="equipamentos"
    color="blue-grey lighten-2"
    label="Equipamento"                              
    item-text="name"
    data-vv-name="equipamento"
    :filter="filter"
    return-object
    v-validate="'required'"
    required
    >
    <template slot="selection" slot-scope="data">
      <v-chip :selected="data.selected"
        close
        class="chip--select-multi"
        @input="remove()"
      >
        {{ data.item.name }}
      </v-chip>
    </template>
    <template slot="item" slot-scope="data" >
      <template v-if="typeof data.item !== 'object'">
        <v-list-tile-content v-text="data.item"></v-list-tile-content>
      </template>
      <template v-else>
        <v-list-tile-content>
          <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
          <v-list-tile-sub-title v-html=" `${ data.item.tag } - ${ data.item.modelo }`"></v-list-tile-sub-title>
          <v-list-tile-sub-title v-html=" `${ data.item.numeracao } - ${ data.item.plaqueta }`"></v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
    </template>
  </v-autocomplete>

      
  </div>
</template>


<script>
Vue.component('equipamento-selec', {
  name: 'equipamento-selec',
  template: '#equipamento-selec',
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    value: null,
    local_id: "",
  },
  data() {
    return {
      errorMessage: [],
      successMessage: [],
      equipamentos: [],
    };
  },
  watch: {

  },
  mounted () {
    this.$validator.localize('pt_BR', this.dictionary)
  },
  computed: {
    user()  {
      return this.$store.getters.user;
    },
    temMessage () {
      if(this.errorMessage.length > 0) return true
      if(this.successMessage.length > 0) return true
      return false
    },
  },
  watch: {
    'local_id': function (newQuestion, oldQuestion) {
      this.updateLocal()
    },
  },
  created: function() {

  },
  methods: {
    atualizar: function(){
      this.$emit('atualizar');
    },
    remove () {
        //const index = this.loja.indexOf(item)
        //if (index >= 0) this.loja.splice(index, 1)
        this.value = null
        
        //event.target.value = null;
        this.$emit('remove')
    },
    filter (item, queryText, itemText) {
        const textOne   = item.name.toLowerCase()
        const textTwo   = item.modelo.toLowerCase()
        const textThree = item.numeracao.toLowerCase()
        const textFour  = item.plaqueta.toLowerCase()
        const textFive  = item.tag.toLowerCase()
        const searchText = queryText.toLowerCase()

        return textOne.indexOf(searchText) > -1 ||
          textTwo.indexOf(searchText)   > -1 ||
          textThree.indexOf(searchText) > -1 ||
          textFour.indexOf(searchText)  > -1 ||
          textFive.indexOf(searchText)  > -1
    },
    updateLocal() {
      this.$store.dispatch('fetchEquipamentoLocal', this.local_id ).then(() => {
        //console.log("Buscando dados do equipamento!");
        this.equipamentos =this.$store.getters.equipamentos;
        //store.commit('isLoading');
      });
    },
  },
});
</script>