<template id="lojas-plus">
  <div>
    <grid-lojas :data="lojas"></grid-lojas>
  </div>
</template>


<script>
  var LojasPlus = Vue.extend({
    template: '#lojas-plus',
    data: function () {
      return {
        errorMessage: '',
        successMessage: '',
        active: '0',
        search:'',
      };
    },
    created() {
    },
    computed: {
      user()  {
        return this.$store.state.user;
      },
      proprietario() {
        return this.$store.state.proprietario;
      },
      osProprietario() {
        return this.$store.state.osProprietario;
      },
      lojas() {
        //return this.$store.getters.getLojaAtivo();
        return this.$store.state.lojas;
      },
    },
    methods: {
      onAtualizar: function(){
        this.$store.dispatch('fetchLocais', this.$route.params._loja).then(() => {
          console.log("Buscando dados das locais!")
        });
      }
    }
  });
  
</script>




