<template id="mod-edt">
  <div>
    <v-dialog v-model="dialog" persistent scrollable  max-width="500px">
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="$emit('close')">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ title }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon flat @click.native="saveItem()">
              <v-icon>mdi-content-save</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>
          <span class="headline">{{data.tecnico.user_nick}}</span>
          <message :success="successMessage" :error="errorMessage" v-on:close="errorMessage = []; successMessage = []"></message>
          <loader></loader>
          <v-container grid-list-md>
            <label class="label">Status</label>
            <v-layout row wrap align-center>
              <v-flex xs12 sm4 v-for="item in deslocStatus" :key="item.id">
                <v-btn block small @click="data.status = item" :class="data.status && data.status.id == item.id ? 'blue white--text' : 'light'">
                  <span>{{item.name }}</span>
                </v-btn>
              </v-flex>
            </v-layout>
            <label class="label">Tipo Trajeto</label>
            <v-layout row wrap align-center >
              <v-flex xs12 sm4 v-for="item in deslocTrajetos" :key="item.id">
                <v-btn block small @click="data.trajeto = item" :class="data.trajeto && data.trajeto.id == item.id ? 'blue white--text' : 'light'">
                  <span>{{item.name }}</span>
                </v-btn>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex xs12 sm6 md7>
                <v-text-field
                  type="datetime-local"
                  v-model="data.dtInicio"
                  label="Data Inicio"
                  :error-messages="errors.collect('dtInicio')"
                  v-validate="'required'"
                  data-vv-name="dtInicio"
                  item-text="name"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md5>
                <v-text-field 
                  type="number"
                  v-model="data.kmInicio"
                  label="Km Inicio"
                  :error-messages="errors.collect('kmInicio')"
                  v-validate="''"
                  data-vv-name="kmInicio"
                  item-text="name"
                  :disabled="trajeto && trajeto.categoria > 0"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md7>
                <v-text-field
                  type="datetime-local"
                  v-model="data.dtFinal"
                  label="Data Final"
                  :error-messages="errors.collect('dtFinal')"
                  v-validate="'required'"
                  data-vv-name="dtFinal"
                  item-text="name"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md5>
                <v-text-field 
                  type="number"
                  v-model="data.kmFinal"
                  label="Km Final"
                  :error-messages="errors.collect('kmFinal')"
                  v-validate="''"
                  data-vv-name="kmFinal"
                  item-text="name"
                  :disabled="data.trajeto && data.trajeto.categoria > 0"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6 md4>
                <v-text-field 
                  type="number"
                  v-model="data.tempo"
                  label="Tempo"
                  :error-messages="errors.collect('tempo')"
                  v-validate="''"
                  data-vv-name="tempo"
                  item-text="name"
                  disabled
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field 
                  type="number"
                  v-model="data.hhValor"
                  label="ValorHh"
                  :error-messages="errors.collect('hhValor')"
                  v-validate="''"
                  data-vv-name="hhValor"
                  item-text="name"
                  disabled
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field 
                  type="number"
                  v-model="data.valor"
                  label="Valor Trajeto"
                  :error-messages="errors.collect('valor')"
                  v-validate="''"
                  data-vv-name="valor"
                  item-text="name"
                  :disabled="data.trajeto && data.trajeto.categoria != 1"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indica campo obrigatório</small>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
Vue.component('mod-edt', {
  name: 'mod-edt',
  template: '#mod-edt',
  props: {
    data: Object,
    dialog: Boolean
  },
  data() {
    return {
      errorMessage: [],
      successMessage: [],
      title: 'Editar deslocameto',
      tecnico: null,
      tecnicos: null,
      status: null,
      trajeto: null,
      km: '',
      date: '',
      dtFinal:'',
      dtInicio: '', kmInicio:'', kmFinal:'',  dtDesloc: '', valor: '', tempo: '',
      
    };
  },
  watch: {
    'data.kmFinal': function (newQuestion, oldQuestion) {
      setTimeout(() => {
        this.validarKm()
      }, 700);
    },
    'data.kmInicio': function (newQuestion, oldQuestion) {
      setTimeout(() => {
        this.validarKm()
      }, 700);
    },
    'data.dtFinal': function (newQuestion, oldQuestion) {
      setTimeout(() => {
        this.validarDate()
      }, 700);
    },
    'data.dtInicio': function (newQuestion, oldQuestion) {
      setTimeout(() => {
        this.validarDate()
      }, 700);
    },
  },
  created: function() {
    this.dataAjuste();
  },
  mounted: function() {
    //this.dataAjuste();
  },
  computed: {
    temMessage () {
      if(this.errorMessage.length > 0) return true
      if(this.successMessage.length > 0) return true
      return false
    },
    deslocTrajetos() {
      return this.$store.getters.deslocTrajetos;
    },
    deslocStatus: function () {
      return this.$store.getters.deslocStatus;
    }
  },
  methods: {
    saveItem: function(){
      //this.errorMessage = []
      if(this.checkForm() && this.validarKm() && this.validarDate() ){
        //store.commit('isLoading')
        if( this.data.trajeto.categoria == '1'){
          this.data.kmInicio  = '0';
          this.data.kmFinal   = '0';
        }else if( this.data.trajeto.categoria == '2' ){
          this.data.kmInicio  = '0';
          this.data.kmFinal   = '0';
          this.data.valor     = '0';
        }
        var postData = {
          os_id:      this.data.os_id,
          mod_id:     this.data.id,
          tecnico_id: this.data.tecnico_id,
          trajeto:    this.data.trajeto,
          status:     this.data.status,
          dtInicio:   this.data.dtInicio,
          dtFinal:    this.data.dtFinal,
          kmInicio:   this.data.kmInicio,
          kmFinal:    this.data.kmFinal,
          tempo:      this.data.tempo,
          hhValor:    this.data.hhValor,
          valor:      this.data.valor
        };
        console.log(postData);
        this.$http.post('./config/api/os.api.php?action=modEdt', postData).then(function(response) {
          console.log(response);
          if(!response.data.error){
            this.successMessage.push(response.data.message);
            //store.commit('isLoading');
            this.$store.dispatch('findOs', this.$route.params._os).then(() => {
              console.log("Buscando dados da os")
            });
            setTimeout(() => {
              this.$emit('close');
            }, 2000);  
          } else{
            this.errorMessage.push(response.data.message);
            //store.commit('isLoading');
          }
        })
        .catch(function(error) {
          console.log(error);
        });
      }
    },
    checkForm:function(e) {
      this.errorMessage = [];
      if(!this.data.status) this.errorMessage.push("Status necessário.");
      if(!this.data.dtInicio) this.errorMessage.push("Data Inicial necessário.");
      if(!this.data.dtFinal) this.errorMessage.push("Data Final necessário.");
      if(!this.data.trajeto) this.errorMessage.push("Trajeto necessário.");
      if(this.data.trajeto.categoria == '0'){
        if( !this.data.kmInicio )this.errorMessage.push("Para o Trajeto escolhido o Km Inicial é necessário.");
        if( !this.data.kmFinal )this.errorMessage.push("Para o Trajeto escolhido o Km Final é necessário.");
      }else if ( this.data.trajeto.categoria == '1' ) {
        if( !this.data.valor )this.errorMessage.push("Para o Trajeto escolhido o Valor é necessário.");
      }
      this.validarKm();
      this.validarDate();
      if(!this.errorMessage.length) return true;
      e.preventDefault();
    },
    validarKm() {
      this.errorMessage = [];
      if( Number(this.data.kmFinal) < Number(this.data.kmInicio) ){
        this.errorMessage.push("Km Inicio não pode ser maior que Km Final!");
        return false;
      }else if( this.data.trajeto.categoria == '0' ){
        this.data.valor = (( Number(this.data.kmFinal) - Number(this.data.kmInicio) )* this.data.trajeto.valor).toFixed(2);
        return true;
      }else{
        return true;
      }
    },
    validarDate() {
      this.errorMessage = [];
      var data1 = new Date( this.data.dtInicio );
      var data2 = new Date( this.data.dtFinal );
      if( data1 > data2 ){
        this.errorMessage.push("Data Inicial não pode ser maior que Data Final!");
        return false;
      }else{
        var timeDiff = Math.abs(data1.getTime() - data2.getTime());
        var diffDays = (timeDiff / 1000 / 60 / 60 ).toFixed(2);   
        var valorHh = ( diffDays * this.data.tecnico.hh ).toFixed(2);
        this.data.tempo = diffDays;
        this.data.hhValor = valorHh;

        //console.log(valorHh);
        return true;
      }
    },
    dataT(data) {
      var res = data.split(" ");
      //console.log(res);
      var date = res[0];
      var time = res[1].slice(0, -3);
      var dtTime = date + "T" + time;
      return dtTime;
    },
    dataAjuste: function(){
      //console.log('data');
      this.data.dtInicio = this.dataT(this.data.dtInicio );
      this.data.dtFinal = this.dataT(this.data.dtFinal);
    },
    errorLimpar(){
      setTimeout(() => {
        this.errorMessage = [];
      }, 2000);
    }
  },
});
</script>