<template id="cilindro-crud">
  <div>
    <v-menu v-if="user.nivel > 2 && user.grupo == 'P'" bottom @click="">
      <v-btn slot="activator" small color="blue darken-2" dark fab>
        <v-icon>mdi-information-variant</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile @click="modalEdt = true">
          <v-list-tile-title>
            <v-icon>mdi-pencil</v-icon>Editar
          </v-list-tile-title>
        </v-list-tile>
        <v-list-tile v-if="user.nivel > 3" @click="modalDel = true">
          <v-list-tile-title>
            <v-icon>mdi-delete</v-icon>Delete
          </v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
    <div>
      <cilindro-edt v-if="modalEdt" v-on:close="modalEdt = false" :data="data" v-on:atualizar="atualizar()"></cilindro-edt>
      <cilindro-del v-if="modalDel" v-on:close="modalDel = false" :data="data" v-on:atualizar="atualizar()"></cilindro-del>
    </div>
  </div>
</template>

<script>
Vue.component('cilindro-crud', {
  template: '#cilindro-crud',
  props: {
    data: Object
  },
  data: function () {
    return {
      fab: false,
      hover: false,
      modalEdt: false,
      modalDel: false,
      modalTec: false,
      modalOs:  false,
      modalGeo: false,

    }
  },
  computed: {
    user()  {
      return this.$store.getters.user;
    },
  },
  methods: {
    atualizar(){
      this.modalGeo = false;
      this.modalTec = false;
      this.modalEdt = false;
      this.modalDel = false;
      this.modalOs  = false;
      this.$emit('atualizar');
    }
  }
});
</script>

