<template id="os-del">
  <div>
    <v-dialog v-model="dialog" persistent scrollable max-width="500px">
      <v-card>
      <v-toolbar dark color="error">
          <v-btn icon dark @click="$emit('close')">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title> {{ title }} </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon flat @click.native="deletarItem()">
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>
          <message :success="successMessage" :error="errorMessage" v-on:close="errorMessage = []; successMessage = []"></message>
          <loader></loader>
          <v-form>
            <div v-if='data.equipamento'>
              <p>{{ data.equipamento.name }} - {{ data.equipamento.modelo }} <i class="fa fa-qrcode"></i> {{ data.equipamento.numeracao }} <i class="fa fa-fw fa-barcode"></i>{{ data.equipamento.plaqueta }}</p>
            </div>
            <h1 class="headline">{{ data.loja_nick }} | {{ data.local_tipo }} - {{ data.local_name }}</h1>
            <h2 class="headline">{{ data.categoria.name }}-{{ data.servico.name }}</h2>
            <h2 class="headline">{{ data.data }}</h2>
          </v-form>

        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
Vue.component('os-del', {
  name: 'os-del',
  template: '#os-del',
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    data: Object,
    dialog: Boolean
  },
  data() {
    return {
      title: 'Delete OS',
      errorMessage: [],
      successMessage: [],
      item:{},
      servico: null, tecnico: null, dataOs: '', ativo: '0',
      
      equipamento: null,
      categoria: null
    };
  },
  computed: {
    temMessage () {
      if(this.errorMessage.length > 0) return true
      if(this.successMessage.length > 0) return true
      return false
    },
    loja()  {
      return this.$store.getters.getLojaId(this.$route.params._loja);
    },
    servicos() {
      return this.$store.state.servicos;
    },
    tecnicos() {
      return this.$store.state.tecnicos;
    },
    categorias() {
      return this.$store.state.categorias;
    },
    filterServ: function () {
      var vm = this;
      var servicos = vm.servicos;
      if(vm.data === null) {
        return vm.servicos.filter(function(item) {
          return item.tipo == '0';
        });
      } else {
        return vm.servicos.filter(function(item) {
          return item.tipo > '0';
        });
      }
    }
  },

  methods: {
    deletarItem: function(data) {
      if(confirm('Deseja realmente deletar ' + this.data.local_name +' - '+ this.data.data +'?')){
        //store.commit('isLoading')
        var postData = {
          os_id: this.data.id
        };
        console.log(postData);
        this.$http.post('./config/api/os.api.php?action=osDel', postData).then(function(response) {
          console.log(response);
          if(response.data.error){
            this.errorMessage.push( response.data.message);
            //store.commit('isLoading');
          } else{
            this.successMessage.push(response.data.message);
            //store.commit('isLoading');
            this.atualizacao();
            setTimeout(() => {
              this.$emit('atualizar');
              this.errorMessage = [];
              this.successMessage = [];
            }, 2000);
          }
        })
        .catch(function(error) {
          console.log(error);
        });
      }
    },
    dataT() {
      var datetime = new Date().toLocaleString();
      var res = datetime.split(" ");
      var date = res[0].split("/");
      var time = res[1].slice(0, -3);
      var dtTime = date[2] + "-" + date[1] + "-" + date[0];
      this.dataOs = dtTime;
    },
    atualizacao: function () {
    }
  },
});

</script>