<template id="cilindro-edt">
  <div>
    <v-layout row justify-center>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-card>
          <v-toolbar dark color="primary">
            <v-btn icon dark @click="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>{{ title }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark flat @click.native="saveItem()">Salvar</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-card-text>
              <message :success="successMessage" :error="errorMessage" v-on:close="errorMessage = []; successMessage = []"></message>
              <cilindro-publish v-model="defaultItem" ></cilindro-publish>
          </v-card-text>
        </v-card-->
      </v-dialog>
    </v-layout>
  </div>
</template>


<script>
Vue.component('cilindro-edt', {
  name: 'cilindro-edt',
  template: '#cilindro-edt',
  $_veeValidate: {
    validator: 'new'
  },
  mixins: [mixOs],
  props: {
    data: {},
  },
  data() {
    return {
      title: 'Editar Cilindro',
      dialog: true,
      errorMessage: [],
      successMessage: [],
      progresso: '1',
      defaultItem: this.data,
    };
  },
  watch: {
  },
  mounted () {
    this.$validator.localize('pt_BR', this.dictionary)
  },
  computed: {
    user()  {
      return this.$store.getters.user;
    },
    temMessage () {
      if(this.errorMessage.length > 0) return true
      if(this.successMessage.length > 0) return true
      return false
    },
  },
  created: function() {
  },
  methods: {
    
    retorno () {
      //this.$emit('update:value', this.date)
    },
  },
});
</script>