<template id="os-list">
  <div>
    <v-card>
      <v-card-title>
        <v-toolbar-title>OS</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field  v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        <os-add v-if="user.nivel > 2 && user.grupo == 'P'" v-on:close="close()"></os-add>
      </v-card-title>
      <v-data-table :headers="headers" :items="filteredData" :pagination.sync="pagination" :expand="expand" item-key="id">
        <template v-slot:items="props">
          <tr @click="props.expanded = !props.expanded">
            <td>
              <router-link :to="'/atendimento/show/'+ props.item.id" :key="props.item.id"> Ver </router-link>
            </td>
            <td> {{ props.item.data }} </td>
            <td> {{ props.item.loja_nick }} </td>
            <td>
              <v-list-tile-title> {{props.item.local_tipo}} {{props.item.local_name}} </v-list-tile-title>
              <v-list-tile-sub-title> {{props.item.local_municipio}}-{{props.item.uf}} </v-list-tile-sub-title>
            </td>
            <td style="padding:0 10px">
              <v-list-tile-content>
                <v-chip small color="indigo" text-color="white">
                  OS: {{ props.item.filial}}-{{ props.item.os}}
                </v-chip> 
                {{props.item.servico.name}}
              </v-list-tile-content>
            </td>
            
            <td style="padding:0 10px">
              <v-list-tile-title> {{ props.item.categoria.name }} </v-list-tile-title>
              <v-list-tile-sub-title v-if="props.item.equipamento">
                <v-chip small color="green" text-color="white">
                  <v-avatar class="green darken-4">
                    <v-icon small>mdi-qrcode</v-icon>
                  </v-avatar>
                  {{ props.item.equipamento.numeracao }}
                </v-chip>
                <v-chip small color="orange" text-color="white">
                  <v-avatar class="orange darken-4">
                    <v-icon small>mdi-barcode</v-icon>
                  </v-avatar>
                  {{props.item.equipamento.plaqueta}}
                </v-chip>
              </v-list-tile-sub-title>
            </td>
            <td style="padding:0 10px">
                <v-avatar v-for="tecnico in props.item.tecnicos" :key="tecnico.id" size="30">
                  <img :src="tecnico.avatar" alt="trevor">
                </v-avatar>
            </td>
            <td>
              <os-crud :data="props.item" v-on:atualizar="atualizar()"></os-crud>
            </td>
            <td class="text-xs-right"> {{ props.item.id }} </td>
          </tr>
        </template>
        <template v-slot:expand="props">
          <v-card flat>
            <v-card-text>
              <v-list-tile-sub-title v-if="props.item.equipamento">{{props.item.equipamento.name}} {{props.item.equipamento.modelo}}  &nbsp; #{{props.item.equipamento.fabricante}}
                <v-chip small color="green" text-color="white">
                  <v-avatar class="green darken-4">
                    <v-icon small>mdi-qrcode</v-icon>
                  </v-avatar>
                  {{ props.item.equipamento.numeracao }}
                </v-chip>
                <v-chip small color="orange" text-color="white">
                  <v-avatar class="orange darken-4">
                    <v-icon small>mdi-barcode</v-icon>
                  </v-avatar>
                  {{props.item.equipamento.plaqueta}}
                </v-chip>
              </v-list-tile-sub-title>
              <div>
                <v-chip small v-for="tecnico in props.item.tecnicos" :key="tecnico.id">
                  <v-avatar small>
                    <img :src="tecnico.avatar" alt="trevor">
                  </v-avatar>
                  {{tecnico.user_nick}}
                </v-chip>
              </div></v-card-text>
          </v-card>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
    <div>
    </div>
  </div>
</template>

<script>
  Vue.component('os-list', {
    template: '#os-list',
    props: {
      data: Array,
      status: String,
    },
    data: function () {
      return {        
        expand: false,
        modalAdd: false,
        search: '',
        pagination: {
          sortBy: 'data'
        },
        headers: [
          { text: '', align: 'left', value: '', sortable: false, },
          { text: 'Data', align: 'center', value: 'data' },
          { text: 'Loja', align: 'left', value: 'loja_name' },
          { text: 'Local', align: 'left', value: 'local_name' },
          { text: 'OS', align: 'left', value: 'os' },
          { text: 'Categoria', align: 'left', value: 'categoria' },
          { text: 'Tecnico(s)', align: 'left', value: 'tecnicos' },
          { text: 'Info', sortable: false, value: 'info' },
          { text: 'ID', value: 'id' },          
        ],
        sortKey: '',
        showModal: false,
        modalItem: {},
        modalOs: false,
        selected: [2],
        configs: {
          orderBy: { name: 'Data', state: 'data' },
          order: 'desc',
          search: ''
        },
        labels: ['Em trasito', 'Atendendo', 'Retorno Viagem', 'Completo' ],
        labels2: ['Atendimento', 'Concluido', 'Fechado', 'Validado' ],
        itens: [
          { name: 'Data', state: 'data' },
          { name: 'Local', state: 'local.name' },
          { name: 'Loja', state: 'loja' }
        ],
        fab: false,
        hover: false,
      }
    },
    computed: {
      ...Vuex.mapGetters(["user"] ),
      filteredData: function () {
        var status = this.$store.getters.status;
        var filterKey = this.search && this.search.toLowerCase()
        var data = this.data
        var uf;
        var tecnico;
        var loja;
        if(status){
          data = data.filter(function (row) {
            return Number(row.status) === Number(status);
          });
        }
        if(uf){
          data = data.filter(function (row) {
            return Number(row.uf) === Number(uf);
          });
        }
        if(tecnico){
          data = data.filter(function (row) {
            return Number(row.uf) === Number(uf);
          });
        }
        if(loja){
          data = data.filter(function (row) {
            return Number(row.loja) === Number(loja);
          });
        }
        if (filterKey) {
          data = data.filter(function (row) {
            return Object.keys(row).some(function (key) {
              return String(row[key]).toLowerCase().indexOf(filterKey) > -1
            })
          })
        }
        return data
      }
    },
    filters: {
      capitalize: function (str) {
        return str.charAt(0).toUpperCase() + str.slice(1)
      }
    },
    methods: {
      onClose: function(){
        this.showModal = false;
      },
      selecItem: function(data){
        this.modalItem = data;
      },
      atualizar: function(){
        this.$emit('atualizar');
      },
    }
  });
</script>
