<template id="programacao-crud">
  <div>
    <v-menu v-if="user.nivel > 2 && user.grupo == 'P'" bottom @click="">
      <v-btn slot="activator" small color="blue darken-2" dark fab>
        <v-icon>mdi-information-variant</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile @click="modalEdt = true">
          <v-list-tile-title>
            <v-icon>mdi-pencil</v-icon>Editar
          </v-list-tile-title>
        </v-list-tile>
        <v-list-tile v-if="user.nivel > 3" @click="modalDel = true">
          <v-list-tile-title>
            <v-icon>mdi-delete</v-icon>Delete
          </v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
    <div>
      <programacao-edt v-if="modalEdt" v-on:close="modalEdt = false" :data="data"></programacao-edt>
    </div>
  </div>
</template>

<script>
Vue.component('programacao-crud', {
  template: '#programacao-crud',
  props: {
    data: Object
  },
  data: function () {
    return {
      fab: false,
      hover: false,
      modalEdt: false,
      modalDel: false,
    }
  },
  computed: {
    user()  {
      return this.$store.getters.user;
    },
  },
  methods: {
    deletarItem: function() {
      if(confirm('Deseja realmente deletar ' + this.data.loja.nick+'-'+ this.data.local.name + '?')){
        //store.commit('isLoading')
        var postData = {
          id: this.data.id
        };
        //console.log(postData);
        this.$http.post('./config/api/cilProgramacao.api.php?action=deletar', postData).then(function(response) {
          //console.log(response);
          if(response.data.error){
            this.errorMessage.push(response.data.message);
            //store.commit('isLoading');
          } else{
            this.successMessage.push(response.data.message);
            //store.commit('isLoading');
            /*this.$store.dispatch('fetchLocalLoja', this.loja.id).then(() => {
              console.log("Atulizando dados das localidades!")
            });
            setTimeout(() => {
              this.$emit('close');
            }, 2000);*/
          }
        })
        .catch(function(error) {
          console.log(error);
        });
      }
    }
  }
});
</script>

