<template id="bem-del">
  <div class="modal is-active" >
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ loja.nick }}: {{ local.tipo }} - {{ local.name }}</p>
        <button class="delete" aria-label="close" v-on:click="$emit('close')"></button>
      </header>
      <section class="modal-card-body">
        <message ></message>
        <!--#CONTEUDO -->
        <div class="field">
          <label class="label">Categoria</label>
          <div class="control">
            <div>
              <v-select label="name" v-model="categoria" :options="categorias"></v-select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Produto</label>
          <div class="control">
            <div>
              <v-select label="name" v-model="produto" :options="produtos"></v-select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Modelo</label>
          <div class="control">
            <input v-model="modelo" class="input" type="text" placeholder="Modelo">
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Numeração</label>
              <div class="control">
                <input v-model="numeracao" class="input" type="text" placeholder="Mumeração">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Plaqueta</label>
              <div class="control">
                <input v-model="plaqueta" class="input" type="text" placeholder="Plaqueta">
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Fabricante</label>
          <div class="control">
            <div>
              <v-select label="name" v-model="fabricante" :options="fabricantes"></v-select>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Dt.Frabricação</label>
              <div class="control">
                <input v-model="dataFab" class="input" type="date" placeholder="Data fabricaçao">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Dt.Compra</label>
              <div class="control">
                <input v-model="dataCompra" class="input" type="date" placeholder="Data compra">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field">
            <label class="label">Ativo? &nbsp;</label>
          </div>
          <div class="field-body">
              <div class="control">
                <input type="radio" value="1" v-model="ativo">
                <label for="one">Não</label>
                <input type="radio" value="0" v-model="ativo">
                <label for="two">Sim</label>
              </div>
          </div>
        </div> 
        <!--#CONTEUDO -->
      </section>
      <footer class="modal-card-foot field is-grouped is-grouped-right">
        <button class="button" v-on:click="$emit('close')">Cancel</button>
        <button :class="isLoading ? 'button is-info is-loading' : 'button is-info'" v-on:click="saveItem()">Save</button>
      </footer>
    </div>
  </div>
</template>
<script>
Vue.component('bem-edt', {
  name: 'bem-edt',
  template: '#bem-edt',
  props: {
    data: {},
    filterKey: String
  },
  data() {
    return {
      errorMessage: [],
      successMessage: [],
      produto: null, modelo: '', numeracao:'', modelo:'', fabricante: null,
      categoria: null, plaqueta: '', dataFab: '', dataCompra: '', ativo: '',
      
      item:{},
    };
  },  
  computed: {
    temMessage () {
      if(this.errorMessage.length > 0) return true
      if(this.successMessage.length > 0) return true
      return false
    },
    loja()  {
      return this.$store.getters.getLojaId(this.$route.params._loja);
    },
    local()  {
      return this.$store.getters.getLocalId(this.$route.params._local);
    },
    produtos() {
      return this.$store.getters.produtos;
    },
    fabricantes() {
      return this.$store.getters.fabricantes;
    },
    categorias() {
      return this.$store.getters.categorias;
    },
  },
  created: function() {
    this.$store.dispatch('fetchProdutos').then(() => {
      console.log("Buscando dados dos produtos!")
    });
  },
  methods: {
    saveItem: function(){
      this.errorMessage = []
      if(this.checkForm()){
        //store.commit('isLoading')
        var postData = {
          produto: this.produto.id,
          tag: this.produto.tag,
          name: this.produto.name,
          modelo: this.modelo,
          numeracao: this.numeracao,
          fabricante: this.fabricante.id,
          fabricanteNick: this.fabricante.nick,
          proprietario: this.loja.id,
          proprietarioNick: this.loja.nick,
          proprietarioLocal: this.local.id,
          categoria: this.categoria.id,
          plaqueta: this.plaqueta,
          dataFab: this.dataFab,
          dataCompra: this.dataCompra,
          ativo: this.ativo
        };
        console.log(postData);
        this.$http.post('./config/api/apiBem.php?action=cadastrar', postData)
          .then(function(response) {
          console.log(response);
          if(response.data.error){
            this.errorMessage.push(response.data.message);
            //store.commit('isLoading');
          } else{
            this.successMessage.push(response.data.message);
            this.$store.dispatch('fetchLocais', this.$route.params._loja).then(() => {
              console.log("Atulizando dados das localidades!")
            });
            //store.commit('isLoading');
            setTimeout(() => {
              this.$emit('close');
            }, 2000);  
          }
        })
        .catch(function(error) {
          console.log(error);
        });
      }
    },
    checkForm:function(e) {
      this.errorMessage = [];
      if(!this.categoria) this.errorMessage.push("Categoria necessário.");
      if(!this.produto) this.errorMessage.push("Produto necessário.");
      if(!this.modelo) this.errorMessage.push("Modelo necessário.");
      if(!this.fabricante) this.errorMessage.push("Municipio necessário.");
      if(!this.ativo) this.errorMessage.push("Ativo necessário.");
      if(!this.dataCompra) this.errorMessage.push('data compra necessário!');
      if(!this.errorMessage.length) return true;
      e.preventDefault();
    },
  },
});
</script>