<template id="km-desp">
  <div>
  <v-layout row justify-center>
      <v-dialog v-model="dialog" hide-overlay transition="dialog-bottom-transition">
        <v-btn slot="activator" color="primary" small dark>Km Dialog</v-btn>          
          <v-card>
          <v-toolbar dark color="blue">
            <v-btn icon dark @click.native="dialog = false">
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Km</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark flat @click.native="saveItem()">Salvar</v-btn>
            </v-toolbar-items>
          </v-toolbar>

          <v-divider></v-divider>
          <v-card-text>
            <message :alerta="temMessage" :success="successMessage" :error="errorMessage"></message>
            <loader></loader>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md6>
                  <v-text-field 
                    type="number"
                    v-model="kmInicio"
                    label="Km Inicio"
                    :error-messages="errors.collect('kmInicio')"
                    v-validate="''"
                    data-vv-name="kmInicio"
                    item-text="name"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md6>
                  <v-text-field 
                    type="number"
                    v-model="kmFinal"
                    label="Km Final"
                    :error-messages="errors.collect('kmFinal')"
                    v-validate="''"
                    data-vv-name="kmFinal"
                    item-text="name"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field 
                    type="number"
                    v-model="valor"
                    label="Valor Trajeto"
                    :error-messages="errors.collect('valor')"
                    v-validate="''"
                    data-vv-name="valor"
                    item-text="name"
                    disabled
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
            <small>*indica campo obrigatório</small>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-layout>
  </div>
</template>
<script>
Vue.component('km-desp', {
  name: 'km-desp',
  template: '#km-desp',
  props: {
    data: Object,
  },
  data() {
    return {
      errorMessage: [],
      successMessage: [],
      tecnico: null,
      tecnicos: null,
      status: null,
      tipo: 'km',
      kmInicio:'', kmFinal:'', valor: '',
      
      dialog: false
    };
  },
  watch: {
    'kmFinal': function (newQuestion, oldQuestion) {
      setTimeout(() => {
        this.validarKm()
      }, 700);
    },
    'kmInicio': function (newQuestion, oldQuestion) {
      setTimeout(() => {
        this.validarKm()
      }, 700);
    },
  },
  created: function() {
    //this.dataAjuste();
  },
  mounted: function() {
    //this.dataAjuste();
  },
  computed: {
    temMessage () {
      if(this.errorMessage.length > 0) return true
      if(this.successMessage.length > 0) return true
      return false
    },
    deslocTrajetos() {
      return this.$store.getters.deslocTrajetos;
    },
    deslocStatus: function () {
      return this.$store.getters.deslocStatus;
    }
  },
  methods: {
    saveItem: function(){
      //this.errorMessage = []
      if(this.checkForm() && this.validarKm() ){
        //store.commit('isLoading')
        if( this.data.trajeto.categoria == '1'){
          this.data.kmInicio  = '0';
          this.data.kmFinal   = '0';
        }else if( this.data.trajeto.categoria == '2' ){
          this.data.kmInicio  = '0';
          this.data.kmFinal   = '0';
          this.data.valor     = '0';
        }
        var postData = {
          osId:     this.data.os,
          trajeto:  this.tipo,
          kmInicio: this.kmInicio,
          kmFinal:  this.kmFinal,
          valor:    this.valor
        };
        console.log(postData);
        this.$http.post('./config/api/os.api.php?action=km', postData).then(function(response) {
          //console.log(response);
          if(response.data.error){
            this.errorMessage.push(response.data.message);
            //store.commit('isLoading');
          } else{
            this.successMessage.push(response.data.message);
            //store.commit('isLoading');
            this.$store.dispatch('findOs', this.$route.params._os).then(() => {
      console.log("Buscando dados da os")
    });
            setTimeout(() => {
              this.$emit('close');
            }, 2000);  
          }
        })
        .catch(function(error) {
          console.log(error);
        });
      }
    },
    checkForm:function(e) {
      this.errorMessage = [];
      if( !this.data.kmInicio )this.errorMessage.push("Km Inicial é necessário.");
      
      //this.validarKm();
      //this.validarDate();
      if(!this.errorMessage.length) return true;
      e.preventDefault();
    },
    validarKm() {
      this.errorMessage = [];
      if( Number(this.data.kmFinal) < Number(this.data.kmInicio) ){
        this.errorMessage.push("Km Inicio não pode ser maior que Km Final!");
        return false;
      }else if( this.data.trajeto.categoria == '0' ){
        this.data.valor = (( Number(this.data.kmFinal) - Number(this.data.kmInicio) )* this.data.trajeto.valor).toFixed(2);
        return true;
      }else{
        return true;
      }
    },
    errorLimpar(){
      setTimeout(() => {
        this.errorMessage = [];
      }, 2000);
    }
  },
});

</script>