<template id="local-del">
  <div>
    <v-dialog v-model="dialog" persistent scrollable max-width="500px">
      <v-card>
        <v-toolbar dark color="error">
          <v-btn icon dark @click="$emit('close')">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Loja</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon flat @click.native="deletarItem()">
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-title color="primary">
          <span class="headline">{{ loja.nick }} - Deletar Local</span>
        </v-card-title>
        <v-card-text>
          <message ></message>
          <loader></loader>
          <v-form>
            <h1 class="headline">{{ data.tipo }}-{{ data.name }}</h1>
            <h2 class="headline">{{ data.municipio }}/ {{ data.uf }}</h2>
            <h2 class="headline">Regional: {{ data.regional }}</h2>

          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  Vue.component('local-del', {
    name: 'local-del',
    template: '#local-del',
    props: {
      data: Object,
      dialog: Boolean
    },
    data() {
      return {
        errorMessage: [],
        successMessage: [], 
        isLoading: false
      };
    },
    computed: {
      temMessage () {
        if(this.errorMessage.length > 0) return true
        if(this.successMessage.length > 0) return true
        return false
      },
      loja()  {
        return this.$store.getters.getLojaId(this.data.loja_id);
      },
    },
    methods: {
      deletarItem: function() {
        if(confirm('Deseja realmente deletar ' + this.data.tipo+'-'+ this.data.name + '?')){
          //store.commit('isLoading')
          var postData = {
            id: this.data.id
          };
          //console.log(postData);
          this.$http.post('./config/api/local.api.php?action=deletar', postData).then(function(response) {
            //console.log(response);
            if(response.data.error){
              this.errorMessage.push(response.data.message);
              //store.commit('isLoading');
            } else{
              this.successMessage.push(response.data.message);
              //store.commit('isLoading');
              this.$store.dispatch('fetchLocalLoja', this.loja.id).then(() => {
                  console.log("Atulizando dados das localidades!")
                });
              setTimeout(() => {
                this.$emit('close');
              }, 2000);
            }
          })
          .catch(function(error) {
            console.log(error);
          });
        }
      }
    },
  });
</script>