<template id="desloc-add">
<div>
    <v-dialog v-model="dialog" persistent scrollable  max-width="500px">
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="$emit('close')">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ title }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon flat @click.native="saveItem()">
              <v-icon>mdi-content-save</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>
          <span class="headline">{{ data.local_tipo }} - {{ data.local_name }}</span>
          <message :success="successMessage" :error="errorMessage" v-on:close="errorMessage = []; successMessage = []"></message>
          <loader></loader>
          <v-container grid-list-md>
            <!--#INICIO -->
            <v-flex xs12>
              <v-text-field
                type="datetime-local"
                v-model="date"
                label="Data"
                :error-messages="errors.collect('date')"
                v-validate="'required'"
                data-vv-name="date"
                item-text="name"
                required
              ></v-text-field>
            </v-flex>
            <label class="label">Status</label>
            <v-layout row wrap align-center >
              <v-flex xs12 sm4 v-for="item in deslocStatus" :key="item.id">
                <v-btn block small @click="status = item" :class="status && status.id == item.id ? 'blue white--text' : 'light'">
                  <span>{{item.name }}</span>
                </v-btn>
              </v-flex>
            </v-layout>
            <label class="label">Tipo Trajeto</label>
            <v-layout row wrap align-center >
              <v-flex xs12 sm4 v-for="item in deslocTrajetos" :key="item.id">
                <v-btn block small @click="trajeto = item" :class="trajeto && trajeto.id == item.id ? 'blue white--text' : 'light'">
                  <span>{{item.name }}</span>
                </v-btn>
              </v-flex>
            </v-layout>
            
            <v-flex xs12>
              <v-autocomplete
                :items="data.tecnicos"
                v-model="tecnico"
                label="Tecnico"
                item-text="user_nick"
                chips
                return-object
                max-height="auto"
                :error-messages="errors.collect('tecnico')" v-validate="'required'" data-vv-name="tecnico"
                required
              >
                <template slot="selection" slot-scope="data">
                  <v-chip
                    :selected="data.selected"
                    :key="JSON.stringify(data.item)"
                    close
                    class="chip--select-multi"
                    @input="data.parent.selectItem(data.item)"
                  >
                    <v-avatar>
                      <img :src="data.item.avatar">
                    </v-avatar>
                    {{ data.item.user_nick }}
                  </v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-tile-content v-text="data.item"></v-list-tile-content>
                  </template>
                  <template v-else>
                    <v-list-tile-avatar>
                      <img :src="data.item.avatar">
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-title v-html="data.item.user_nick"></v-list-tile-title>
                      <v-list-tile-sub-title v-html="data.item.email"></v-list-tile-sub-title>
                    </v-list-tile-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-flex>
            <v-flex xs12 v-if="trajeto != null && trajeto.categoria == 0 && data.tecnicos.length > 1" >
              <v-autocomplete
                :items="data.tecnicos"
                v-model="tecnicos"
                label="Outros Tecnicos"
                item-text="user_nick"
                multiple
                chips
                return-object
                max-height="auto"
                :error-messages="errors.collect('tecnico')" v-validate="''" data-vv-name="tecnicos"
              >
                <template slot="selection" slot-scope="data">
                  <v-chip
                    :selected="data.selected"
                    :key="JSON.stringify(data.item)"
                    close
                    class="chip--select-multi"
                    @input="data.parent.selectItem(data.item)"
                  >
                    <v-avatar>
                      <img :src="data.item.avatar">
                    </v-avatar>
                    {{ data.item.user_nick }}
                  </v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-tile-content v-text="data.item"></v-list-tile-content>
                  </template>
                  <template v-else>
                    <v-list-tile-avatar>
                      <img :src="data.item.avatar">
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-title v-html="data.item.user_nick"></v-list-tile-title>
                      <v-list-tile-sub-title v-html="data.item.email"></v-list-tile-sub-title>
                    </v-list-tile-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-flex>
            <v-flex xs12 sm6 md6>
              <v-text-field 
                type="number"
                v-model="km"
                label="Km"
                :error-messages="errors.collect('km')"
                v-validate="''"
                data-vv-name="km"
                item-text="name"
                :disabled="trajeto && trajeto.categoria > 0"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md6>
              <v-text-field 
                type="number"
                v-model="valor"
                label="Valor"
                :error-messages="errors.collect('valor')"
                v-validate="''"
                data-vv-name="valor"
                item-text="name"
                :disabled="trajeto && trajeto.categoria != 1"
              ></v-text-field>
            </v-flex>
          </v-container>
          <small>*indica campo obrigatório</small>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
Vue.component('desloc-add', {
  name: 'desloc-add',
  template: '#desloc-add',
  props: {
    data: Object,
    dialog: Boolean
  },
  data() {
    return {
      errorMessage: [],
      successMessage: [],
      title: 'Deslocameto',
      tecnico: null,
      tecnicos: null,
      status: null,
      trajeto: null,
      km: '',
      date: '',
      dtInicio: '', kmInicio:'', kmFinal:'',  dtDesloc: '', valor: '', tempo: '',
      
    };
  },
  
  created: function() {
    this.dataT()
  },
  computed: {
    temMessage () {
      if(this.errorMessage.length > 0) return true
      if(this.successMessage.length > 0) return true
      return false
    },
    deslocTrajetos() {
      return this.$store.getters.deslocTrajetos;
    },
    deslocStatus: function () {
      return this.$store.getters.deslocStatus;
    }
  },
  methods: {
    saveItem: function(){
      this.errorMessage = []
      if(this.checkForm()){
        //store.commit('isLoading')
        if(this.trajeto.categoria == '0'){
          this.valor  = '0';
        }else if( this.trajeto.categoria == '1'){
          this.km     = '0';
        }else if( this.trajeto.categoria == '2' ){
          this.km     = '0';
          this.valor  = '0';
        }
        var postData = {
          os_id: this.data.id,
          tecnico: this.tecnico,
          tecnicos: this.tecnicos,
          trajeto: this.trajeto,
          status: this.status,
          date: this.date,
          km: this.km,
          valor: this.valor
        };
        //console.log(postData);
        this.$http.post('./config/api/os.api.php?action=desloc', postData)
          .then(function(response) {
            console.log(response);
            if(!response.data.error){
              this.successMessage.push(response.data.message);
              //store.commit('isLoading');
              setTimeout(() => {
                this.$emit('close');
              }, 2000); 
              
            } else{
              this.errorMessage.push(response.data.message);
              //store.commit('isLoading');
            }
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    checkForm:function(e) {
      this.errorMessage = [];
      if(!this.tecnico) this.errorMessage.push("Tecnicos necessário.");
      if(!this.status) this.errorMessage.push("Status necessário.");
      if(!this.date) this.errorMessage.push("Data necessário.");
      if(!this.trajeto) this.errorMessage.push("Tipo necessário.");
      if(this.trajeto.categoria == '0'){
        if( !this.km )this.errorMessage.push("Para o Trajeto escolhido o Km é necessário.");
      }else if ( this.trajeto.categoria == '1' ) {
        if( !this.valor )this.errorMessage.push("Para o Trajeto escolhido o Valor é necessário.");
      }
      if(!this.errorMessage.length) return true;
      e.preventDefault();
    },
    dataT() {
      var datetime = new Date().toLocaleString();
      var res = datetime.split(" ");
      var date = res[0].split("/");
      var time = res[1].slice(0, -3);
      var dtTime = date[2] + "-" + date[1] + "-" + date[0] + "T" + time;
      this.date = dtTime;
    },
  },
});
</script>