{% extends "app.twig" %}


{% block content %}

    <main id="app">
        <router-view></router-view>
    </main>


    {% include "user/list.twig" %}

    {% include "user/show.twig" %}

    {% include "user/add.twig" %}

    {% include "user/edit.twig" %}

    {% include "user/delete.twig" %}

{% endblock %}

{% block footer %}
    {% include "includes/footer.twig" %}
{% endblock %}