<template id="cilindro-selec">
  <div>
      
    <message :success="successMessage" :error="errorMessage" v-on:close="errorMessage = []; successMessage = []"></message>

    <v-autocomplete
    :value="value"
    @input="$emit('input', $event)"
    :items="cilindro"
    color="blue-grey lighten-2"
    label="Cilindro"                              
    item-text="name"
    data-vv-name="cilindro"
    :filter="cilindroFilter"
    return-object
    v-validate="'required'"
    required
    >
    <template slot="selection" slot-scope="data">
      <v-chip :selected="data.selected"
        close
        class="chip--select-multi"
        @input="value = null"
      >
        {{ data.item.name }}
      </v-chip>
    </template>
    <template slot="item" slot-scope="data" >
      <template v-if="typeof data.item !== 'object'">
        <v-list-tile-content v-text="data.item"></v-list-tile-content>
      </template>
      <template v-else>
        <v-list-tile-content>
          <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
          <v-list-tile-sub-title v-html=" `${data.item.municipio } ${data.item.uf}`"></v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
    </template>
  </v-autocomplete>

      
  </div>
</template>


<script>
Vue.component('cilindro-selec', {
  name: 'cilindro-selec',
  template: '#cilindro-selec',
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    value: {},
    capacidade_id: "",
  },
  data() {
    return {
      errorMessage: [],
      successMessage: [],
      locais: [],
    };
  },
  watch: {

  },
  mounted () {
    this.$validator.localize('pt_BR', this.dictionary)
  },
  computed: {
    user()  {
      return this.$store.getters.user;
    },
    temMessage () {
      if(this.errorMessage.length > 0) return true
      if(this.successMessage.length > 0) return true
      return false
    },
    cilindros(){
      //return this.$store.getters.cilindros;
      return this.$store.getters.cilindroCapacidade(this.capacidade_id);
    },
  },
  watch: {
    'capacidade_id': function (newQuestion, oldQuestion) {
      this.updateLocal()
    },
  },
  created: function() {

  },
  methods: {
    atualizar: function(){
      this.$emit('atualizar');
    },
    remove (item) {
        //const index = this.loja.indexOf(item)
        //if (index >= 0) this.loja.splice(index, 1)
        this.value = {}
    },
    cilindroFilter (item, queryText, itemText) {
      const textOne = item.numero.toLowerCase()
      const textTwo = item.cod_barras.toLowerCase()
      const textThree = item.loja_nick.toLowerCase()
      const searchText = queryText.toLowerCase()

      return textOne.indexOf(searchText) > -1 ||
        textTwo.indexOf(searchText) > -1 ||
        textThree.indexOf(searchText) > -1
    },
    
    updateLocal() {
      this.$store.dispatch('fetchLocalLoja', this.capacidade_id ).then(() => {
        //console.log("Buscando dados do local!");
        this.locais =this.$store.state.locais;
        //store.commit('isLoading');
      });
    },
    checkForm:function() {
      this.errorMessage = [];
      if( !this.local ) this.errorMessage.push("Local necessário.");
      if(!this.errorMessage.length) return true;
      //e.preventDefault();
    },
  },
});
</script>