<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Vuetify</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
</head>
<body>
    <div id="app">
        <v-app standalone>

    <script type="text/x-template" id="grid-template">
      <div id="grid-template">
        <table>
            <thead>
            <tr>
                <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                {{ key | capitalize }}
                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                </span>
                </th>
                <th>&nbsp;</th>
            </tr>
            
        </thead>
        <tbody>
            <tr v-for="entry in filteredData">
                <td v-for="key in columns">
                {{entry[key]}}
                </td>
                <td>
                <md-button md-theme="brown" class="md-icon-button md-raised md-dense"><router-link :to="'/'+ entry.type +'/' + entry._id"><md-icon>visibility</md-icon></router-link></md-button>
                <md-button class="md-icon-button md-raised md-primary md-dense" @click.native="showModalEdt = true; selecItem(cliente)"><md-icon>edit</md-icon></md-button>
                <md-button class="md-icon-button md-raised md-accent md-dense" @click.native="showModalDel = true; selecItem(cliente)"><md-icon>delete</md-icon></md-button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
    </script>
    
    <!-- demo root element -->
    <div id="demo">
      <!-- component template -->
        <!-- demo root element -->
        <div>
            <div id="app">
                <v-app id="inspire">
                  <v-card>
                    <v-card-title>
                      Nutrition
                      <v-spacer></v-spacer>
                      <v-text-field
                        append-icon="search"
                        label="Search"
                        single-line
                        hide-details
                        v-model="search"
                      ></v-text-field>
                    </v-card-title>
                    <v-data-table
                        v-bind:headers="headers"
                        v-bind:items="items"
                        v-bind:search="search"
                      >
                      <template slot="items" scope="props">
                        <td>
                          <v-edit-dialog
                            lazy
                          > {{ props.item.name }}
                            <v-text-field
                              slot="input"
                              label="Edit"
                              v-model="props.item.name"
                              single-line
                              counter
                              :rules="[max25chars]"
                            ></v-text-field>
                          </v-edit-dialog>
                        </td>
                        <td class="text-xs-right">{{ props.item.calories }}</td>
                        <td class="text-xs-right">{{ props.item.fat }}</td>
                        <td class="text-xs-right">{{ props.item.carbs }}</td>
                        <td class="text-xs-right">{{ props.item.protein }}</td>
                        <td class="text-xs-right">{{ props.item.sodium }}</td>
                        <td class="text-xs-right">{{ props.item.calcium }}</td>
                        <td class="text-xs-right">
                          <v-edit-dialog
                            @open="tmp = props.item.iron"
                            @save="props.item.iron = tmp || props.item.iron"
                            large
                            lazy
                          >
                            <div>{{ props.item.iron }}</div>
                            <div slot="input" class="mt-3 title">Update Iron</div>
                            <v-text-field
                              slot="input"
                              label="Edit"
                              v-model="tmp"
                              single-line
                              counter
                              autofocus
                              :rules="[max25chars]"
                            ></v-text-field>
                          </v-edit-dialog>
                        </td>
                      </template>
                      <template slot="pageText" scope="{ pageStart, pageStop }">
                        From {{ pageStart }} to {{ pageStop }}
                      </template>
                    </v-data-table>
                  </v-card>
                </v-app>
              </div>
          </div>
          <pre>{{ $data }}</pre>

    </div>

    </v-app>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script>
   // register the grid component
   Vue.component('demo-grid', {
     template: '#grid-template',
     props: {
       data: Array,
       columns: Array,
       filterKey: String
     },
     data: function () {
       var sortOrders = {}
       this.columns.forEach(function (key) {
         sortOrders[key] = 1
       })
       return {
         sortKey: '',
         sortOrders: sortOrders,
         title: 'Cliente',
          filterKey: ''

       }
     },
     computed: {
      items: function () {
        var filterKey = this.filterKey && this.filterKey.toLowerCase()
        var data = this.data
        if (filterKey) {
          data = data.filter(function (row) {
            return Object.keys(row).some(function (key) {
              return String(row[key]).toLowerCase().indexOf(filterKey) > -1
            })
          })
        }
        return data
      }
     },
     filters: {
       capitalize: function (str) {
         return str.charAt(0).toUpperCase() + str.slice(1)
       }
     },
     methods: {
       sortBy: function (key) {
         this.sortKey = key
         this.sortOrders[key] = this.sortOrders[key] * -1
       }
     }
   })
   
   // bootstrap the demo
   var demo = new Vue({
     el: '#demo',
     data: {
      searchQuery: '',
      gridColumns: ['fantasia', 'nome', 'seguimento'],
      gridData: [],
      max25chars: (v) => v.length <= 25 || 'Input too long!',
      tmp: '',
      search: '',
      pagination: {},
      headers: [
        {
          text: 'Dessert (100g serving)',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        { text: 'Calories', value: 'calories' },
        { text: 'Fat (g)', value: 'fat' },
        { text: 'Carbs (g)', value: 'carbs' },
        { text: 'Protein (g)', value: 'protein' },
        { text: 'Sodium (mg)', value: 'sodium' },
        { text: 'Calcium (%)', value: 'calcium' },
        { text: 'Iron (%)', value: 'iron' }
      ],
      items: [
        {
          value: false,
          name: 'Frozen Yogurt',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          sodium: 87,
          calcium: '14%',
          iron: '1%'
        },
        {
          value: false,
          name: 'Ice cream sandwich',
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          sodium: 129,
          calcium: '8%',
          iron: '1%'
        },
        {
          value: false,
          name: 'Eclair',
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          sodium: 337,
          calcium: '6%',
          iron: '7%'
        },
        {
          value: false,
          name: 'Cupcake',
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          sodium: 413,
          calcium: '3%',
          iron: '8%'
        },
        {
          value: false,
          name: 'Gingerbread',
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          sodium: 327,
          calcium: '7%',
          iron: '16%'
        },
        {
          value: false,
          name: 'Jelly bean',
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
          sodium: 50,
          calcium: '0%',
          iron: '0%'
        },
        {
          value: false,
          name: 'Lollipop',
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
          sodium: 38,
          calcium: '0%',
          iron: '2%'
        },
        {
          value: false,
          name: 'Honeycomb',
          calories: 408,
          fat: 3.2,
          carbs: 87,
          protein: 6.5,
          sodium: 562,
          calcium: '0%',
          iron: '45%'
        },
        {
          value: false,
          name: 'Donut',
          calories: 452,
          fat: 25.0,
          carbs: 51,
          protein: 4.9,
          sodium: 326,
          calcium: '2%',
          iron: '22%'
        },
        {
          value: false,
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          sodium: 54,
          calcium: '12%',
          iron: '6%'
        }
      ]
    
     }
   })
  </script>
</body>
</html>
