
<template id="tec-os">
  <div>
      <v-container grid-list-md>
          <v-layout row wrap>
              <v-flex>
                <tecnico-selec v-model="tecnico"></tecnico-selec>
              </v-flex>
              <v-flex>
                <loja-selec v-model="loja"></loja-selec>
              </v-flex>
              <v-flex>
                <uf-selec v-model="uf"></uf-selec>
              </v-flex>
          </v-layout>
        </v-container>
    <section class="container">
      
      <div>
        <os-list :data="oss" :status="status"></os-list>
      </div>
    </section>
  </div>
</template>
<script>
var TecOs = Vue.extend({
  template: '#tec-os',
  name: 'tec-os',
  data: function () {
    return {
      errorMessage: '',
      successMessage: '',
      value:[],
      tecnico: null,
      loja: null,
      uf: null,
      status: null,
    };
  },
  created: function() {
    this.$store.dispatch("setStatus", '' );
    //this.tecnico();
  },
  mounted: function() {
    //this.modalLocalAdd = true;
    //this.tec = this.$store.getters.user;
    //this.tecnico();
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    oss()  {      
      var items    = this.$store.getters.oss;
      //var user     = this.$store.getters.user;
      //var user_id  = null;
      /*if(this.tecnico){
        user_id = this.tecnico.user_id;
      }else{
        user_id = user.id;
      }*/
      
      if (this.tecnico) {
        //return value.filter(todo => todo.loja_id === this.loja.id);
        var value = [];
        for (var entry of items) {
          //console.log(entry);
          for (var tec of entry.tecnicos) {
            //value.push( entry);
            if(tec.user_id == this.tecnico.user_id) {
              //console.log(entry);
              value.push( entry);
            }
          }
        }
        return items = value;
      }
      if (this.loja) {
        return items.filter(todo => todo.loja_id === this.loja.id);
      }
      if (this.uf) {
        return items.filter(todo => todo.uf === this.uf.id);
      }
      
      return items;
    },
    filteredData() {
      /*const filter = this.configs.search && this.configs.search.toLowerCase(); 
      const list = _.orderBy(this.data, this.configs.orderBy, this.configs.order);
      if (_.isEmpty(filter)) {
        return list;
      }
      //return _.filter(list, repo => repo.name.indexOf(filter) >= 0);

      return _.filter(list, function (row) {
        return Object.keys(row).some(function (key) {
          return String(row[key]).toLowerCase().indexOf(filter) > -1
        })
      })*/
    }
  }, // computed
  methods: {
    onAtualizar: function(){
      this.$store.dispatch('fetchLocais', this.$route.params._loja).then(() => {
        console.log("Buscando dados das locais!")
      });
    },
    
    customFilter (item, queryText, itemText) {
        const textOne = item.user_nick.toLowerCase()
        const textTwo = item.email.toLowerCase()
        const searchText = queryText.toLowerCase()

        return textOne.indexOf(searchText) > -1 ||
          textTwo.indexOf(searchText) > -1
    },
    remove (item) {
        this.tecnico = null;
    },

  },
});
</script>