<template id="date-curta">
  <div>
        <message ></message>
        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          :nudge-right="40"
          :return-value.sync="date"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="date"
              :label="label"
              prepend-icon="event"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="date"
            type="month"
            no-title
            scrollable
          >
            <v-spacer></v-spacer>
            <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
            <v-btn flat color="primary" @click="$refs.menu.save(date)">OK</v-btn>
          </v-date-picker>
        </v-menu>
  </div>
</template>

<script>
Vue.component('date-curta', {
  name: 'date-curta',
  template: '#date-curta',
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    value: {},
    label:'',
  },
  data() {
    return {
      errorMessage: [],
      successMessage: [],
      date: new Date().toISOString().substr(0, 7),
      menu: false,
    };
  },
  watch: {
    'date': function (newQuestion, oldQuestion) {
      this.retorno()
    },
  },  
  created () {
    this.addItem();
  },
  mounted () {
    this.$validator.localize('pt_BR', this.dictionary)
  },
  computed: {
    fabricantes() {
      return this.$store.getters.cilFabricantes;
    },
    temMessage () {
      if(this.errorMessage.length > 0) return true
      if(this.successMessage.length > 0) return true
      return false
    },
  },
  methods: {
    remove (item) {
        this.value = ''
    },
    retorno () {
      this.$emit('update:value', this.date)
    },     
    addItem () {
      if (!this.value) {
        this.date = this.value;
      }
    }
  },
});
</script>