<template id="switch-selec">
  <div>
      
    <v-switch v-model="value" :label="label"></v-switch>

  </div>
</template>

<script>
Vue.component('switch-selec', {
  name: 'switch-selec',
  template: '#switch-selec',
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    value: '',
    label: ''
  },
  data() {
    return {
      errorMessage: [],
      successMessage: [],
    };
  },
  watch: {

  },
  mounted () {
    this.$validator.localize('pt_BR', this.dictionary)
  },
  computed: {
    capacidades() {
      return this.$store.getters.cilTipos;
    },
    temMessage () {
      if(this.errorMessage.length > 0) return true
      if(this.successMessage.length > 0) return true
      return false
    },
  },
  methods: {
    remove (item) {
        this.value = ''
    },
  },
});
</script>