<template id="local-top">
  <div>
    <v-toolbar color="cyan" dark tabs extended>
      <v-btn @click="$router.go(-1)" icon>
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title> {{ local.tipo }} - {{ local.name }} </v-toolbar-title>
      <v-spacer></v-spacer>
      <local-rota :lat="local.latitude" :long="local.longitude"></local-rota>
      <local-crud :data="local"></local-crud>
      <v-tabs slot="extension" centered color="cyan" slider-color="yellow">
        <v-tab v-for="n in router" :key="n.title" :to="'/organizacao/loja/'+ $route.params._loja +'/local/'+ $route.params._local + n.router" ripple> {{ n.title }} </v-tab>
      </v-tabs>
    </v-toolbar>
    <v-chip v-for="categoria in local.categoria" :key="categoria.id" small color="green" text-color="white">
      {{ categoria.tag }}
    </v-chip>
  </div>
</template>

<?php require_once 'src/components/local/_crudLocal.php';?>
<?php require_once 'src/components/local/_rotaLocal.php';?>

<script>
  Vue.component('local-top',{
    template: '#local-top',
    data: function () {
      return {
        router: [
          { title: 'Equipamentos', router: '', icon: 'store' },
          { title: 'OSs', router: '/oss', icon: 'trending_up' }
        ],
      };
    },
    mounted: function() {
      //this.modalBemAdd = true;
    },
    created: function() {
      
    },
    computed: {
    ...Vuex.mapGetters(["local"] ),
    ...Vuex.mapGetters(["equipamentoLocal"] ),

    }, 
    methods: {
      onAtualizar: function(){
        this.$store.dispatch('fetchLocais', this.$route.params._loja).then(() => {
          this.modalBemAdd = false;
        });
      },
    },
  });

</script>